In [2]:
import pandas as pd 
import numpy as np 
import yfinance as yf 
import matplotlib.pyplot as plt 
import matplotlib.style

In [6]:

msft = yf.Ticker("MSFT")
msft_data=msft.history(start='2018-01-01',end='2024-01-24')
msft_data

d:\Algo-Trading\backtesting\.venv\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-01-02 00:00:00-05:00,80.397046,80.565065,79.808982,80.229027,22483800,0.0,0.0
2018-01-03 00:00:00-05:00,80.331666,80.751717,80.247660,80.602364,26061400,0.0,0.0
2018-01-04 00:00:00-05:00,80.826414,81.825200,80.807748,81.311806,21912000,0.0,0.0
2018-01-05 00:00:00-05:00,81.825187,82.525266,81.610493,82.319908,23407100,0.0,0.0
2018-01-08 00:00:00-05:00,82.329223,82.683934,81.769162,82.403900,22113000,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-17 00:00:00-05:00,387.980011,390.109985,384.809998,389.470001,22234100,0.0,0.0
2024-01-18 00:00:00-05:00,391.720001,393.989990,390.119995,393.869995,23392100,0.0,0.0
2024-01-19 00:00:00-05:00,395.760010,398.670013,393.500000,398.670013,29272000,0.0,0.0
2024-01-22 00:00:00-05:00,400.019989,400.619995,393.589996,396.510010,27016900,0.0,0.0
2024-01-23 00:00:00-05:00,395.750000,399.380005,393.929993,398.899994,20525900,0.0,0.0

In [10]:
msft_data.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1524.000000,1524.000000,1524.000000,1524.000000,1.524000e+03,1524.000000,1524.0
mean,210.691718,212.862110,208.453732,210.767359,2.973786e+07,0.008747,0.0
std,85.527805,86.318628,84.736243,85.585383,1.251729e+07,0.070191,0.0
min,80.331666,80.565065,78.250130,79.351585,8.989200e+06,0.000000,0.0
25%,130.162480,130.941654,128.351060,130.055565,2.180898e+07,0.000000,0.0
50%,217.770951,220.249950,215.546277,218.185410,2.657755e+07,0.000000,0.0
75%,280.645505,283.708842,277.014889,280.714355,3.362068e+07,0.000000,0.0
max,400.019989,400.619995,393.929993,398.899994,1.112421e+08,0.750000,0.0